<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>Simple angular app</title>
		<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

		<style type="text/css">
			.expired{border: 1px solid #ff0000;}
			.my-tooltip {
				cursor: help;
				text-decoration: none;
				position: relative;
			}
			.my-tooltip span.my-tooltip-popup {
				display: none;
				position: absolute;
				margin: 5px;
			}
			.my-tooltip:hover span.my-tooltip-popup {
				display: inline;
				position: absolute;
				left: 1em;
				top: 2em;
				z-index: 99;
				margin-left: 0;
				width: 250px;
				border: 1px solid #000000;
				border-radius: 5px;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
				background: #ffffff;
			}
		</style>
	<head>
	<body>
		<div class="container" ng-controller="MainCtrl">
			<h1>Task tracker</h1>
			<div class="row">
				<div class="col-md-3">
					<form name="taskForm" class="well" ng-submit="Add()">
						<div class="form-group" ng-class="{'has-error': taskForm.Caption.$invalid}">
							<label>Заголовок</label>
							<input class="form-control" type="text" name="Caption" ng-model="task.Caption" ng-maxlength="20" required>
							<span class="help-block" ng-show="taskForm.Caption.$error.required">Поле обязательно для заполнения</span>
							<span class="help-block" ng-show="taskForm.Caption.$error.maxlength">Более 20 символов</span>
						</div>
						<div class="form-group" ng-class="{'has-error': task.Description.$invalid}">
							<label>Описание</label>
							<textarea class="form-control" name="Description" ng-model="task.Description"></textarea>
						</div>
						<div class="form-group" ng-class="{'has-error': task.Date.$invalid}">
							<label>Дата</label>
							<input class="form-control" type="date" name="Date" ng-model="task.Date" required>
							<span class="help-block" ng-show="task.Date.$error.required">Поле обязательно для заполнения</span>
							<span class="help-block" ng-show="task.Date.$error.date">Не корректная дата</span>
						</div>
						<div class="form-group" ng-class="{'has-error': task.Time.$invalid}">
							<label>Время</label>
							<input class="form-control" type="time" name="Time" ng-model="task.Date" required>
							<span class="help-block" ng-show="task.Time.$error.required">Поле обязательно для заполнения</span>
							<span class="help-block" ng-show="task.Time.$error.time">Не корректная время</span>
						</div>
						<button type="submit" class="btn btn-primary" ng-disabled="taskForm.$invalid">Создать</button>
					</form>
				</div>
				<div class="col-md-9">
					<ul class="list-group">
						<li class="list-group-item row" ng-repeat="task in tasks | orderBy:'Timer':true" ng-class="{'expired': task.Timer <= 0}">
								<div class="col-md-2">{{task.Timer | PrettyTymerFilter}}</div>
								<div class="col-md-6">{{task.Caption}}</div>
								<div class="col-md-4">
									<a href class="btn btn-default" my-tooltip="task.Description" ng-show="task.Description">Подробнее</a>
									<a href class="btn btn-default" ng-click="AddMinutes((task), 10)">+10</a>
									<a href class="btn btn-default" ng-click="Remove(task)">X</a>
								</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/app-service.js"></script>
		<script type="text/javascript" src="js/app-controllers.js"></script>
		<script type="text/javascript" src="js/app-filters.js"></script>
		<script type="text/javascript" src="js/app-directives.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	<body>
<html>